/*
!.gitignore
!libraries
!patches
!mmc-pack.json
!12788076.png

!.minecraft
.minecraft/*
!.minecraft/config
!.minecraft/mods
!.minecraft/resourcepacks
!.minecraft/serverutilities

.minecraft/config/*
!.minecraft/config/betterquesting
!.minecraft/config/Betterloadingscreen
!.minecraft/config/txloader
!.minecraft/config/microblocks.cfg
!.minecraft/config/MineTweaker3.cfg

.minecraft/mods/carpentersblocks/CarpentersBlocksCachedResources.zip

*.disabled