/*
!.gitignore
!libraries
!patches
!mmc-pack.json
!12788076.png

!.minecraft
.minecraft/*
!.minecraft/config
!.minecraft/mods
!.minecraft/resourcepacks
!.minecraft/serverutilities

.minecraft/config/draconicevolution/contributors.json
.minecraft/config/INpureProjects/logs/debug.log
.minecraft/config/fw.cfg
.minecraft/config/mcpatcherforge.cfg
.minecraft/GregTech.lang
.minecraft/config/AppliedEnergistics2/CustomRecipes.cfg
.minecraft/config/AppliedEnergistics2/Facades.cfg
.minecraft/config/AppliedEnergistics2/recipes/items.csv
.minecraft/config/DreamCoreMod.properties
.minecraft/config/EnderStorage.cfg
.minecraft/config/GregTech/Recipes.cfg
.minecraft/config/IC2.ini
.minecraft/config/INpureProjects/custom_nei_filters/custom_nei_filters.cfg
.minecraft/config/IguanaTinkerTweaks/restrictions.cfg
.minecraft/config/InvTweaks.cfg
.minecraft/config/NEI/client.cfg
.minecraft/config/WirelessRedstone.cfg
.minecraft/config/WitchingGadgets.cfg
.minecraft/config/angelica-modules.cfg
.minecraft/config/buildcraft/compat.cfg
.minecraft/config/cofh/core/common.cfg
.minecraft/config/craftpresence.json
.minecraft/config/endercore/endercore.cfg
.minecraft/config/hodgepodgeEarly.properties
.minecraft/config/notfine/notfine.cfg
.minecraft/config/roguelike_dungeons/roguelike.cfg
.minecraft/config/splash.properties
.minecraft/config/wailaplugins.cfg
.minecraft/config/InfernalMobs.cfg
.minecraft/config/buildcraft
.minecraft/config/GregTech
.minecraft/config/angelica-options.json
.minecraft/config/MouseTweaks.cfg
.minecraft/config/Waila.cfg
.minecraft/config/betterquesting*
.minecraft/mods/carpentersblocks/CarpentersBlocksCachedResources.zip

*.disabled