# Configuration file

vendingmachine {

    ##########################################################################################################
    # vendingmachinesettings
    #--------------------------------------------------------------------------------------------------------#
    # Vending Machine Settings
    ##########################################################################################################

    vendingmachinesettings {
        # How many items are dispensed from the queue at once [range: -2147483648 ~ 2147483647, default: 16]
        I:dispense_amount=16

        # How often items items are ejected, in number of ticks [range: -2147483648 ~ 2147483647, default: 10]
        I:dispense_frequency=10

        # How often the vending machine refreshes its data, in number of ticks [range: -2147483648 ~ 2147483647, default: 20]
        I:gui_refresh_interval=20

        # Enable restock notifications, disabling on server will disable notifications for everyone [default: true]
        B:restock_notifications_enabled=true

        # How often the server checks for restocked trades, in number of ticks. [range: -2147483648 ~ 2147483647, default: 200]
        I:restock_notifications_interval=200
    }

    ##########################################################################################################
    # gui
    #--------------------------------------------------------------------------------------------------------#
    # GUI Settings
    ##########################################################################################################

    gui {
        # Default trade display format, either TILE or LIST. Case sensitive.
        # Possible values: [TILE, LIST]
        #  [default: TILE]
        S:display_type=TILE

        # Default sort mode, either SMART or ALPHABET. Case sensitive.
        # Possible values: [SMART, ALPHABET]
        #  [default: SMART]
        S:sort_mode=SMART
    }

    ##########################################################################################################
    # developer
    #--------------------------------------------------------------------------------------------------------#
    # Developer Settings
    ##########################################################################################################

    developer {
        # subdirectory for vending machine data in world save [default: vendingmachine]
        S:data_dir=vendingmachine

        # Force rewrite database on load, for add/remove trades or change of format [default: false]
        B:force_rewrite_database=false

        # folder where trade database file is located [default: config/vendingmachine]
        S:trade_db_dir=config/vendingmachine
    }

}


