# Configuration file

##########################################################################################################
# sudoku
#--------------------------------------------------------------------------------------------------------#
# Regulates 'Sudoku' minigame.
##########################################################################################################

sudoku {
    # How likely this game is chosen compared to other games. The higher this value is, the more likely this game is chosen. Set to 0 to turn this off. [range: 0 ~ 2147483647, default: 1]
    I:weight=1

    ##########################################################################################################
    # stage_1
    #--------------------------------------------------------------------------------------------------------#
    # Regulates characteristics of stage 1.
    ##########################################################################################################

    stage_1 {
        # Regulates characteristics of stage 1. [range: 0 ~ 81, default: 35]
        I:blanks=35
    }

    ##########################################################################################################
    # stage_2
    #--------------------------------------------------------------------------------------------------------#
    # Regulates characteristics of stage 2.
    ##########################################################################################################

    stage_2 {
        # Regulates characteristics of stage 2. [range: 0 ~ 81, default: 45]
        I:blanks=45
    }

    ##########################################################################################################
    # stage_3
    #--------------------------------------------------------------------------------------------------------#
    # Regulates characteristics of stage 3.
    ##########################################################################################################

    stage_3 {
        # Regulates characteristics of stage 3. [range: 0 ~ 81, default: 55]
        I:blanks=55
    }

    ##########################################################################################################
    # stage_4
    #--------------------------------------------------------------------------------------------------------#
    # Regulates characteristics of stage 4.
    ##########################################################################################################

    stage_4 {
        # Regulates characteristics of stage 4. [range: 0 ~ 81, default: 64]
        I:blanks=64
    }

}


